.container00{
    &.container05{
        background-image: url("../../images/falcon9/01.jpg");
    }

    &.container06{
        background-image: url("../../images/falcon9/02.jpg");
    }

    &.container07{
        background-image: url("../../images/falcon9/08.jpg");
    }    

    &.carrossel01{
        background-image: url("../../images/falcon9/03.jpg");
    }

    &.carrossel02{
        background-image: url("../../images/falcon9/04.jpg");
    }

    &.carrossel03{
        background-image: url("../../images/falcon9/05.jpg");
    }

    &.carrossel04{
        background-image: url("../../images/falcon9/06.jpg");
    }

    &.carrossel05{
        background-image: url("../../images/falcon9/07.jpg");
    }

}

.titleContent{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}

.titleFalcon9{
    font-size: 90px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

.numbers{
    background-color: black;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .titleNumb{
        font-size: 90px;
    }
    
    .subTitleNumb{
        font-size: 20px;
    }
}

.containerFalcon9Desc{
    display: grid;
    height: 90vh;
    align-items: center;
    justify-content: left;
}

.falcon9Desc{
    font-size: 22px;
    width: 640px;
    line-height: 50px;
}

#overViewPosition{
    width: 500px;
    margin-left: 13%;
    padding-top: 15%;
}

.carrosselSlide{

    img{
        height: 100vh;
    }
}

.carousselText{
    background-color: black;
}

.downloadDesc{
    background-color: black;
    height: 85vh;
    padding-top: 240px;

    a{
        text-decoration: none;
        color: rgb(75, 0, 75);
        border-bottom: 1px solid rgb(75, 0, 75);
        font-weight: bold;

        &:hover{
            color: $link-hover;
            border-bottom: 1px solid $link-hover;
        }
    }

    button{
        border: 2px solid white;
        margin-right: 10px;
    }
}

@media (max-width: 768px){
    .numbers{
        height: 60vh;

        .titleNumb{
            font-size: 65px;
        }
        
        .subTitleNumb{
            font-size: 15px;
        }
    }

    .falcon9Desc{
        width: auto;
    }

    .downloadDesc{
        padding-top: 180px;
    }
}

@media (max-width: 575px){
    .numbers{
        .titleNumb{
            font-size: 35px;
        }
        
        .subTitleNumb{
            font-size: 15px;
        }
    }

    .falcon9Desc{
        font-size: 16px;
        line-height: 30px;
    }

    #overViewPosition{
        width: auto;
        margin-left: auto;
    }

    .carousselText{
        font-size: 12px;
    }

    .downloadDesc{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        button{
            margin-right: 0px;
        }
    }
}

@media (max-width: 425px){
    .titleFalcon9{
        font-size: 40px;
    }
}